﻿@model CostManagement.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--[if gt IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->

    <title>Login</title>

    <link rel="icon" type="image/ico" href="~/Template/HTML/favicon.ico" />

    <link href="~/Template/HTML/css/stylesheets.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='~/Template/HTML/css/fullcalendar.print.css' media='print' />

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
  
    <script type='text/javascript' src='~/Template/HTML/js/cookies.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/actions.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/charts.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins.js'></script>
    <style>
        .ErrorMsg {
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
            padding-left:7%;
        }
        .Err {
            display:block;
        }
        
    </style>
    <script>
        $(document).ready(function () {
            if ('@TempData["ErrorMessage"]' != "") {
                //    $(".loginHead").css("margin-bottom","0px");
                $(".ErrorMsg").slideToggle("slow");
            }
        });
    </script>
</head>
<body>


    <div class="loginBox">
        <div class="loginHead">
            <img src="" alt="CostManagement" title="CostManagement" style="display:none;"  />
        </div>
        @using (Html.BeginForm("ValidateLogin", "Login"))
        {           

            <div class="control-group">
                <label for="inputEmail">UserName</label>
                <input type="text" id="userName" name="UserName" style="height: 30px;" />
            </div>

            <div class="control-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="password" name="Password" style="height: 30px;" />
            </div>
            
             if (TempData["ErrorMessage"] != "")
            {

            <div class="alert alert-error" style="display: none;">
                <h4></h4>@TempData["ErrorMessage"]</div>
            <div class="ErrorMsg">
                <strong>@TempData["ErrorMessage"]</strong>
                <div class="Err"></div>
            </div>
            }

            <div class="form-actions">
                <input type="submit" class="btn btn-block" value="Sign In" />
            </div>
           
                
        }
    </div>
</body>
</html>
