﻿@model CostManagement.Models.CostIssue

@{
    ViewBag.Title = "_CostIssueReport1";
}

<link href="~/Scripts/jquery-ui-1.11.4/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    
</script>
<table id="CostIssueReport" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>DATE</th>
                <th>ISSUE</th>
                <th>SALES</th>
                <th>%</th>
                <th>CUMM. ISSUE </th>
                <th>CUMM. SALES </th>
                <th>%</th>
            </tr>
        </thead>
    <tfoot>
        <th></th>
        <th class="TotalIssue"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tfoot>

    </table>   