﻿@model CostManagement.Models.CostSummary

@{
    ViewBag.Title = "AddCostSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Month = new SelectList(new[]
    {
        new {Value = "1", Text="January"},
            new {Value = "2", Text="February"},
            new {Value = "3", Text="March"},
            new {Value = "4", Text="April"},
            new {Value = "5", Text="May"},
            new {Value = "6", Text="June"},
            new {Value = "7", Text="July"},
            new {Value = "8", Text="August"},
            new {Value = "9", Text="September"},
            new {Value = "10", Text="October"},
            new {Value = "11", Text="November"},
            new {Value = "12", Text="December"}
    },
    "Value", "Text",1);

    List<SelectListItem> Company = ViewData["Company"] as List<SelectListItem>;
    List<SelectListItem> Location = ViewData["Location"] as List<SelectListItem>;
}

<script type="text/javascript">
    $(document).ready(function () {

        GetDataforUpdate();

        $("#Month").change(function () {
            GetDataforUpdate();
        });
        $("#ddlYear").change(function () {
            GetDataforUpdate();
        });
        $("#ddlLocation").change(function () {
            GetDataforUpdate();
        });
        function GetDataforUpdate() {
            var Month = $("#Month option:selected").val();
            var Year = $("#ddlYear option:selected").val();
            var Location = $("#ddlLocation option:selected").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCostSummeryData", "CostIssue")',
                dataType: 'json',
                data: { Month: Month, Year: Year, LocationID : Location },
                success: function (data) {
                    $("#AlreadyEnd").css("display", "block");
                    $("#btnSave").prop('disabled', 'true');
                    $("#OpeningBalance").val("");
                    $("#ClosingBalance").val("");
                    $("#TransferOut").val("0");
                    $("#TransferIn").val("0");
                    $("#Less").val("");
                    $("#OtherSale").val("0");
                    $("#OtherExpense").val("0");
                    $("#ID").val("0");
                    if (data == "MonthEnd") {
                        $("#AlreadyEnd").css("display", "block");
                        $("#btnSave").prop('disabled', 'true');
                        $("#OpeningBalance").val("");
                        $("#ClosingBalance").val("");
                        $("#TransferOut").val("0");
                        $("#TransferIn").val("0");
                        $("#Less").val("");
                        $("#OtherSale").val("0");
                        $("#OtherExpense").val("0");
                        $("#ID").val("0");
                    }
                    else {
                        $("#AlreadyEnd").css("display", "none");
                        $("#btnSave").removeAttr('disabled')
                        $.each(data, function (i, l) {

                            $("#OpeningBalance").val(l.OpeningBalance.toString());
                            $("#ClosingBalance").val(l.ClosingBalance.toString());
                            $("#TransferOut").val(l.TransferOut.toString());
                            $("#TransferIn").val(l.TransferIn.toString());
                            $("#Less").val(l.Less.toString());
                            $("#ID").val(l.ID.toString());
                            $("#OtherSale").val(l.OtherSale.toString());
                            $("#OtherExpense").val(l.OtherExpense.toString());
                        });
                    }
                },
                error: function (data) { alert(data.d); }
            });
        }

        $("#ddlCompany").change(function () {
            var CompanyId = $(this).val();
            BindLocation(CompanyId);
        });

        function BindLocation(CompanyId) {
            if (CompanyId == "" || CompanyId == null) {
                CompanyId = 0;
            }
            $("#ddlLocation").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationById", "CostIssue")',
                dataType: 'json',
                data: { CompanyId: CompanyId },
                success: function (data) {
                    $.each(data, function (i, l) {
                        
                        $("#ddlLocation").append('<option value="' + l.Value + '">' + l.Text + '</option>');
                    });
                },
                error: function (data) { alert(data.d); }
            });
        }

    });
</script>

<div class="page-header">
    <h1>Summary<small>
        Cost
    </small></h1>
</div>
<div id="AlreadyEnd" class="alert alert-danger" style="display: none;">
    <h4>Error!</h4>
    You have already ended this month.. 
</div>
<div class="row-fluid">

    <div class="span12">
        <div class="head clearfix">
            <div class="isw-documents"></div>
            @if (Model != null)
            {
                <h1>Edit Entry</h1>
            }
            else
            {
                <h1>New Entry</h1>
            }
        </div>
        @using (Html.BeginForm("CostSummaryAdd", "CostIssue", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ID)
            <div class="block-fluid">
                <div class="row-form clearfix">
                    <div class="span3">Company</div>
                    <div class="span3">
                        <select id="ddlCompany" name="CompanyID">
                            @foreach (var i in Company)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                    <div class="span3">Location</div>
                    <div class="span3">
                        <select id="ddlLocation" name="LocationID">
                            @foreach (var i in Location)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row-form clearfix">
                    <div class="span3">Month</div>
                    <div class="span3">

                        @Html.DropDownList("Month", Month)
                    </div>

                    <div class="span3">Year</div>
                    <div class="span3">
                        <select id="ddlYear" name="Year">
                            @for (int i = 2018; i <= 2020; i++)
                            {
                                <option value='@i'>@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row-form clearfix">
                    <div class="span3">Opening Balance</div>
                    <div class="span3">
                        @Html.EditorFor(x => x.OpeningBalance)
                    </div>

                    <div class="span3">Closing Balance </div>
                    <div class="span3">
                        @Html.EditorFor(x => x.ClosingBalance)
                    </div>
                </div>
                <div class="row-form clearfix">
                    <div class="span3">TransferOut </div>
                    <div class="span3">
                        <input type="text" id="TransferOut" name ="TransferOut" value="0" />
                        @*@Html.EditorFor(x => x.TransferOut)*@
                    </div>

                    <div class="span3">TransferIn </div>
                    <div class="span3">
                        <input type="text" id="TransferIn" name ="TransferIn" value="0" />
                        @*@Html.EditorFor(x => x.TransferIn)*@
                    </div>
                </div>
                <div class="row-form clearfix">
                    <div class="span3">Other Sales </div>
                    <div class="span3">
                        <input type="text" id="OtherSale" name ="OtherSale" value="0" />
                        @*@Html.EditorFor(x => x.OtherSale)*@
                    </div>

                    <div class="span3">Other Expense </div>
                    <div class="span3">
                        <input type="text" id="OtherExpense" name ="OtherExpense" value="0" />
                        @*@Html.EditorFor(x => x.OtherExpense)*@
                    </div>
                </div>

                <div class="row-form clearfix">
                    <div class="span3">Less</div>
                    <div class="span3">
                        @Html.EditorFor(x => x.Less)
                    </div>
                    <div class="span6">
                        <input class="btn btn-success" type="submit" value="Save" id="btnSave" disabled />
                        @if (Model == null)
                        {
                            <input type="reset" value="Clear" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

