﻿@model IEnumerable<CostManagement.Models.CostIssueGridModel>
@{
    ViewBag.Title = "CostIssueSummaryReport";

    CostManagement.Models.CostSummary csObj = Session["MessageBottom"] as CostManagement.Models.CostSummary;
    string[] days  = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"};
    decimal percent = Convert.ToDecimal(Session["TotalPercent"].ToString());
}
<html>
<style>
    .headerName {
        font-size: 22px;
        color: black;
        text-align: center;
    }

    .subheader {
        font-size: 15px;
        color: darkmagenta;
        text-align: center;
        padding-bottom: 2%;
    }

    #PageHeading, #Grid, #PrintTable {
        width: 100%;
        border-collapse: collapse;
    }
    #table {
        width:70%;
        text-align:left;
        padding-top:5%;
    }
        #table tbody td {
            border-bottom: 1px solid #ddd;
        }
        #Grid , #Grid tbody td {
            border: 1px solid #000000;
        }

    #tableLeft, #tableRight {
        width: 50%;
        border: groove;
    }
    .alignLeft {
        float:left;
    }
    .alignRight {
        float:right;
    }
</style>
    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript">
        function getDayName(day) {

        }
    </script>
<table id="PrintTable">
    <tr>
        <td>
            <table id="PageHeading">
                <thead>
                    <tr>
                        <td>
                            <div id="ComapnyName" class="headerName">
                                <b>@csObj.CompanyName :- @csObj.LocationName</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="SubHeader" class="subheader">
                                SALES FOR THE MONTH OF <b>@csObj.Month , @csObj.Year </b>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>

            <table id="Grid">
                <thead>
                    <tr>
                        <th colspan="7">Cost/Issue Detailed Report</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Issue</th>
                        <th>Sale</th>
                        <th>%</th>
                        <th>Cumm. Issue</th>
                        <th>Cumm. Sale</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><div class="alignLeft">@item.TransactionDate.ToString("dd/MM/yyyy")</div><div class="alignLeft" style="margin-left:5px;">@item.TransactionDate.DayOfWeek</div>  
                            </td>
                            <td>
                                <div class="alignRight">@item.Issue.ToString("N0")</div>
                            </td>
                            <td>
                                <div class="alignRight">@item.Sale.ToString("N0")</div>
                            </td>
                            <td><div class="alignRight">@item.IssueSalePercent.ToString("0")</div></td>
                            <td><div class="alignRight">@item.CummIssue.ToString("N0")</div></td>
                            <td><div class="alignRight">@item.CummSales.ToString("N0")</div></td>
                            <td><div class="alignRight">@item.CummPercent.ToString("0")</div></td>
                        </tr>
                    }
                </tbody>
                <tfoot style="text-align: center">
                    <tr>
                        <td></td>
                        <td><div class="alignRight"><b>@csObj.TotalIssue.ToString("N0")</b></div></td>
                        <td><div class="alignRight"><b>@csObj.TotlaSale.ToString("N0")</b></div></td>
                        <td><div class="alignRight"><b>@percent.ToString("0")</b></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>
            <table cellpadding="5px" id="table">
                <thead>
                    <tr>
                        <th colspan="4">Cost/Issue Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Outlet Sales :
                        </td>
                        <td>
                            <div id="OutletSale" class="alignRight">@csObj.TotlaSale.ToString("N0")</div>
                        </td>

                        <td>Total Issue :
                        </td>
                        <td>
                            <div id="TotalIssue" class="alignRight">@csObj.TotalIssue.ToString("N0")</div>
                        </td>
                    </tr>
                     <tr>
                        <td>Other Sales :
                        </td>
                        <td>
                            <div id="OtherSale" class="alignRight">@csObj.OtherSale.ToString("N0")</div>
                        </td>

                        <td>Opening Balance :
                        </td>
                        <td>
                            <div id="OpeningBalance" class="alignRight">@csObj.OpeningBalance.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Total Sales :
                        </td>
                        <td>
                            <div id="TotalSale" class="alignRight">@csObj.TotalSaleIncludingOtherSale.ToString("N0") </div>
                        </td>

                        <td>Closing Balance :
                        </td>
                        <td>
                            <div id="ClosingBalance" class="alignRight">@csObj.ClosingBalance.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Month Avg Sale :
                        </td>
                        <td>
                            <div id="LastMonthAvgSale" class="alignRight">@csObj.LastMonthAvgSale.ToString("N0")</div>
                        </td>
                        <td>Transfer Out :
                        </td>
                        <td>
                            <div id="TransferOut" class="alignRight">@csObj.TransferOut.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>This Month Avg Sale :
                        </td>
                        <td>
                            <div id="ThisMonthAvgSale" class="alignRight">@csObj.ThisMonthAvgSale.ToString("N0")</div>
                        </td>
                        <td>Transfer In :
                        </td>
                        <td>
                            <div id="TransferIn" class="alignRight">@csObj.TransferIn.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Month Food Cost (%) :
                        </td>
                        <td>
                            <div id="LastMonthFoodCost" class="alignRight">@csObj.LastMonthFoodCost.ToString("0.00")</div>
                        </td>
                          <td>Less :
                        </td>
                        <td>
                            <div id="Less" class="alignRight">@csObj.Less.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>This Month Food Cost (%) :
                        </td>
                        <td>
                            <div id="ThisMonthFoodCost" class="alignRight">@csObj.ThisMonthFoodCost.ToString("0.00")</div>
                        </td>
                      <td>Other Expense :
                        </td>
                        <td>
                            <div id="OtherExp" class="alignRight">@csObj.OtherExpense.ToString("N0")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>This Month Food Cost (% Inc OtherSale) :</td>
                        <td>
                            <div id="ThisMonthFoodCostIncOthers" class="alignRight">@csObj.ThisMonthFoodCostIncludingOtherSale.ToString("0.00")</div>
                        </td>
                        <td>Total :
                        </td>
                        <td>
                            <div id="Total" class="alignRight">@csObj.Total.ToString("N0")</div>
                        </td>
                        
                    </tr>
                    </tbody>

            </table>
        </td>
    </tr>
</table>

</html>
