﻿@model CostManagement.Models.CostIssueGridModel

@{
    ViewBag.Title = "CostIssueDetailedReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> Company = ViewData["Company"] as List<SelectListItem>;
    List<SelectListItem> Location = ViewData["Location"] as List<SelectListItem>;
    List<SelectListItem> Department = ViewData["Department"] as List<SelectListItem>;
    string CompanyName = ViewData["CompanyName"] as string;
    string Issue = Session["TotalIssue"] as string;

    var Month = new SelectList(new[]
    {
        new {Value = "1", Text="January"},
            new {Value = "2", Text="February"},
            new {Value = "3", Text="March"},
            new {Value = "4", Text="April"},
            new {Value = "5", Text="May"},
            new {Value = "6", Text="June"},
            new {Value = "7", Text="July"},
            new {Value = "8", Text="August"},
            new {Value = "9", Text="September"},
            new {Value = "10", Text="October"},
            new {Value = "11", Text="November"},
            new {Value = "12", Text="December"}
    },
     "Value", "Text", 1);
}
<style>
    .dataTables_length select {
        width: auto;
    }
    .dt-button {
        margin-left:10%;
    }
    .hasDatepicker {
        width: 85% !important;
    }

    .ui-datepicker-trigger {
        vertical-align: baseline;
    }

    #Filters .row-form {
        padding: 0px 0px;
        border-bottom: 0px;
    }
</style>
<link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var selectedNumber = [];
        if ($("#divDefaultCompany").text() != "" || $("#divDefaultCompany").text() != null) {
            $("#ddlCompany").val($("#divDefaultCompany").text());
            BindLocation($("#divDefaultCompany").text());
            if ($("#divDefaultCompany").text() != 0) {
                $("#ddlCompany").attr('disabled', 'disabled');
            }
        }

        $("#ddlCompany").change(function () {
            var CompanyId = $(this).val();
            BindLocation(CompanyId);
        });

        function BindLocation(CompanyId) {
            CompanyId = $("#ddlCompany").val();
            $("#ddlLocation").empty();
            //$("#ddlLocation").append('<option value="">All</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationById", "CostIssue")',
                dataType: 'json',
                data: { CompanyId: CompanyId },
                success: function (data) {
                    $("#ddlLocation").append('<option value=00000000-0000-0000-0000-000000000000>All</option>');
                    $.each(data, function (i, l) {
                        
                        $("#ddlLocation").append('<option value="' + l.Value + '">' + l.Text + '</option>');
                    });
                },
                error: function (data) { alert(data.d); }
            });
        }
        BindReportGrid();
        $("#btnSearch").click(function () {            
            BindReportGrid();
        });

        function BindReportGrid() {
            var Months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var params = {};
            params.Month = $("#ddlMonth").val();
            params.Year = $("#ddlYear").val();
            params.LocationID = $("#ddlLocation").val();
            params.CompanyID = $("#ddlCompany").val();
            var footer = [];
            $.getJSON('@Url.Action("GetDetailedReport", "CostIssue")', params, function (data) {
            }
               ).success(function (data) {
                   $('#CostIssueReport').dataTable({
                       "columnDefs": [
                                {
                                    "targets": [0],
                                    "searchable": false,
                                    "orderable": true,
                                    "type": 'date',
                                    "render": function (data) {

                                        var javascriptDate = new Date(data);
                                        var month = javascriptDate.getMonth() + 1;
                                        var date = javascriptDate.getDate();
                                        var day = javascriptDate.getDay() + 1;
                                        //javascriptDate = javascriptDate.getDate() + " " + (Months[month]);
                                        javascriptDate = date + "/" + month + "/" + javascriptDate.getFullYear();
                                        debugger
                                        return "<div class='date'>" + javascriptDate + " " + days[day - 1] + "<div>";
                                    }
                                },
                                {
                                    "targets": [1],
                                    "render": function (data) {
                                        var parts = data.toString().split(".");
                                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        return parts.join(".");
                                    }
                                },
                                {
                                    "targets": [2],
                                    "render": function (data) {
                                        var parts = data.toString().split(".");
                                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        return parts.join(".");
                                    }
                                },
                                {
                                    "targets": [3],
                                    "render": function (data) {
                                        var parts = data.toString().split(".");
                                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        return parts.join(".");
                                    }
                                },
                                {
                                    "targets": [4],
                                    "render": function (data) {
                                        var parts = data.toString().split(".");
                                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        return parts.join(".");
                                    }
                                }
                       ],
                       "footerCallback": function (row, data, start, end, display) {
                           
                           var api = this.api(), data;
                           var columns = [1, 2];
                           for (c = 0; c < columns.length; c++) {
                               var colNo = columns[c];
                               // Remove the formatting to get integer data for summation
                               var intVal = function (i) {
                                   return typeof i === 'string' ?
                                       i.replace(/[\$,]/g, '') * 1 :
                                       typeof i === 'number' ?
                                       i : 0;
                               };

                               // Total over all pages
                               total = api
                                   .column(colNo)
                                   .data()
                                   .reduce(function (a, b) {
                                       return intVal(a) + intVal(b);
                                   }, 0);

                               // Total over this page
                               pageTotal = api
                                   .column(colNo, { page: 'current' })
                                   .data()
                                   .reduce(function (a, b) {
                                       return intVal(a) + intVal(b);
                                   }, 0);

                               // Update footer
                               footer.push(pageTotal);
                               $(api.column(colNo).footer()).html(
                                   pageTotal.toFixed(2)
                               );
                           }
                          
                       },
                       "destroy": true,
                       "aaData": data,
                       "aoColumns": [
                         { "mDataProp": "TransactionDate" },
                         { "mDataProp": "Issue" },
                         { "mDataProp": "Sale" },
                         { "mDataProp": "IssueSalePercent" },
                         { "mDataProp": "DepartmentName" }
                       ],

                       dom: 'lBfrtip',
                       buttons: [                           
                           {
                               text: 'Get PDF',
                               action: function (e, dt, node, config) {

                                   var Month = $("#ddlMonth").val();
                                   var Year = $("#ddlYear").val();
                                   var LocationID = $("#ddlLocation").val();
                                   var DepartmentID = $("#ddlDepartmentID").val();
                                   var CompanyID = $("#ddlCompany").val();
                                   var CompanyName = $("#ddlCompany option:selected").text();
                                   var LocationName = $("#ddlLocation option:selected").text();
                                   var url = "/CostIssue/CostIssueSummaryDetailedReport?Month=" + Month + "&Year=" + Year + "&LocationID=" + LocationID + "&CompanyID=" + CompanyID + "&CompanyName=" + CompanyName + "&LocationName=" + LocationName;
                                   window.location.href = url;
                               }
                           }
                       ]
                   });

               });

           }
    });
</script>
<div class="page-header">
    <h1>Cost/Issue<small>Detailed</small></h1>
</div>
<div class="row-fluid" style="">
    <div class="" style="width: 100%;">
        <div class="head clearfix">
            <div class="isw-brush"></div>
            <h1>Filters</h1>
            <div class="ReportGridLoader" style="float: right;"></div>
        </div>
        <div class="block">
            <div id="Filters">
                <div class="row-form clearfix">
                    <div class="span3">
                        Company
                        <div class="span12">@Html.DropDownList("ddlCompany", Company)</div>
                        <div id="divDefaultCompany" style="display: none;">0</div>

                    </div>
                    <div class="span3">Location<select id="ddlLocation"></select></div>
                    <div class="span3">
                        Month
                              <div class="span12">
                                  @Html.DropDownList("ddlMonth", Month, "All")
                              </div>
                    </div>
                    <div class="span3">
                        Year
                        <div class="span12">
                            <select id="ddlYear" name="Year">
                                @for (int i = 2018; i <= 2020; i++)
                                {
                                    <option value='@i'>@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row-form clearfix">
                    
                    <div class="span4">
                        <div class="span4">
                            <button id="btnSearch" class="btn btn-primary" type="button" style="margin: 16%">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ReportGrid">
            @Html.Partial("_CostIssueDetailedReport", Model)
        </div>
    </div>
</div>
<div class="dr"><span></span></div>
