﻿@model IEnumerable<CostManagement.Models.CostIssueGridModel>

@{
    ViewBag.Title = "CostIssueSummaryDetailedReport";
    string[] days = { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
    CostManagement.Models.CostSummary csObj = Session["DetailesData"] as CostManagement.Models.CostSummary;

    List<CostManagement.Models.Department> DepartmentLst = Session["Department"] as List<CostManagement.Models.Department>;
    List<CostManagement.Models.CostIssueDetailReportTotalsModel> DatewiseTotal = Session["DatewiseTotal"] as List<CostManagement.Models.CostIssueDetailReportTotalsModel>;
    List<CostManagement.Models.CostIssueDetailReportTotalsModel> DeptwiseTotal = Session["DeptwiseTotal"] as List<CostManagement.Models.CostIssueDetailReportTotalsModel>;

    int countcolspan = DepartmentLst.Count + 2;

    decimal totalFC = DatewiseTotal.Sum(x => x.Issue) * 100 / DatewiseTotal.Sum(x => x.Sale);
}



<style type="text/css" media="print,screen">
    /*@@media print
    {
    table { page-break-inside:auto; width: 100%; }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-row-group }
    tfoot { display:table-row-group }
    }*/

    .headerName {
        font-size: 22px;
        color: black;
        text-align: center;
    }

    .subheader {
        font-size: 15px;
        color: darkmagenta;
        text-align: center;
        padding-bottom: 2%;
    }

    #PageHeading, #Grid, #PrintTable {
        width: 100%;
        border-collapse: collapse;
    }

    #table {
        width: 70%;
        text-align: left;
        padding-top: 5%;
    }

        #table tbody td {
            border-bottom: 1px solid #ddd;
        }

    #Grid {
        /*border: 1px solid #000000;*/
        margin: 2px;
        white-space: nowrap;
        /*page-break-after:always;*/
    }
        #Grid tr {
            page-break-inside:avoid;
        }

    #Grid thead {
        display: table-header-group;
    }

    #Grid tbody {
        display: table-row-group;
    }

    .alignLeft {
        float: left;
    }

    .alignRight {
        float: right;
    }
</style>
<script src="~/Scripts/jquery-1.12.0.min.js"></script>
<body>
    <table id="PrintTable">
        <tr>
            <td>
                <table id="PageHeading">
                    <thead>
                        <tr>
                            <td>
                                <div id="ComapnyName" class="headerName">
                                    <b>@csObj.CompanyName :- @csObj.LocationName</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="SubHeader" class="subheader">
                                    SALES FOR THE MONTH OF <b>@csObj.Month , @csObj.Year </b>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table id="Grid">
                    <thead>
                        <tr>
                            <th></th>
                            @foreach (var d in DepartmentLst)
                            {
                                <th>
                                    <div class="alignright" id="@d.ID">@d.DepartmentName</div>
                                </th>
                            }
                            <th>
                                <div class="alignright">Total</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.GroupBy(x => x.TransactionDate))
                        {
                            <tr>
                                <td colspan="@countcolspan">
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <th style="float:left;" colspan="@countcolspan">@item.First().TransactionDate.ToString("dd/MM/yyyy")</th>
                            </tr>
                            <tr>
                                <td>Issue</td>
                                @for (int i = 1; i <= DepartmentLst.Count(); i++)
                                {
                                    <td>
                                        @if (Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.Issue).Count() > 0)
                                        {
                                            <div class="alignright">@Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.Issue).First().ToString("N0")</div>
                                        }
                                        else
                                        {
                                            <div class="alignright">0</div>
                                        }
                                    </td>
                                }
                                <td>
                                    <div class="alignright">@DatewiseTotal.Where(x => x.TransactionDate == item.First().TransactionDate).Select(x => x.Issue).First().ToString("N0")</div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div>Sale</div>
                                </td>
                                @for (int i = 1; i <= DepartmentLst.Count(); i++)
                                {
                                    <td>
                                        @if (Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.Sale).Count() > 0)
                                        {
                                            <div class="alignright">@Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.Sale).First().ToString("N0")</div>
                                        }
                                        else
                                        {
                                            <div class="alignright">0</div>
                                        }
                                    </td>
                                }
                                <td>
                                    <div class="alignright">@DatewiseTotal.Where(x => x.TransactionDate == item.First().TransactionDate).Select(x => x.Sale).First().ToString("N0")</div>
                                </td>

                            </tr>
                            <tr>
                                <td>Foodcost</td>
                                @for (int i = 1; i <= DepartmentLst.Count(); i++)
                                {
                                    <td>
                                        @if (Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.IssueSalePercent).Count() > 0)
                                        {
                                            <div class="alignright">@Model.Where(x => x.TransactionDate == item.First().TransactionDate && x.DepartmentID == i).Select(x => x.IssueSalePercent).First().ToString("N0")</div>
                                        }

                                    </td>
                                }
                                <td>
                                    <div class="alignright">@DatewiseTotal.Where(x => x.TransactionDate == item.First().TransactionDate).Select(x => x.IssueSalePercent).First().ToString("N0")</div>
                                </td>
                            </tr>                            
                        }
                        <tr>
                            <td colspan="@countcolspan">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <th style="float:left;" colspan="@countcolspan">Total</th>
                        </tr>
                        <tr>
                            <td>Issue</td>
                            @for (int i = 1; i <= DepartmentLst.Count(); i++)
                            {
                                <td>
                                    @if (DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.Issue).Count() > 0)
                                    {
                                        <div class="alignright">@DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.Issue).First().ToString("N0")</div>
                                    }
                                </td>
                            }
                            <td>
                                <div class="alignright">
                                    @DatewiseTotal.Sum(x => x.Issue).ToString("N0")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sale</td>
                            @for (int i = 1; i <= DepartmentLst.Count(); i++)
                            {
                                <td>
                                    @if (DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.Sale).Count() > 0)
                                    {
                                        <div class="alignright">@DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.Sale).First().ToString("N0")</div>
                                    }
                                </td>
                            }
                            <td>
                                <div class="alignright">
                                    @DatewiseTotal.Sum(x => x.Sale).ToString("N0")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Foodcost</td>
                            @for (int i = 1; i <= DepartmentLst.Count(); i++)
                            {
                                <td>
                                    @if (DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.IssueSalePercent).Count() > 0)
                                    {
                                        <div class="alignright">@DeptwiseTotal.Where(x => x.DepartmentID == i).Select(x => x.IssueSalePercent).First().ToString("N0")</div>
                                    }
                                </td>
                            }
                            <td>
                                <div class="alignright">@totalFC.ToString("N0")</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
