﻿@model CostManagement.Models.CostIssue

@{
    ViewBag.Title = "CostIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> Company = ViewData["Company"] as List<SelectListItem>;
    List<SelectListItem> Location = ViewData["Location"] as List<SelectListItem>;
    List<SelectListItem> Department = ViewData["Department"] as List<SelectListItem>;

    var SessionVariables = Session["DropdownSelection"] as CostManagement.Models.CostIssue;
}
<style>
    #TransactionDate {
        margin-bottom:0px;
        }
    
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TransactionDate").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            yearRange: '2018:2020'
        });
        //$("#TransactionDate").datepicker("setDate", '@System.DateTime.Now');
        $("#TransactionDate").datepicker("setDate", new Date());
        $("#TransactionDate").attr('readonly', true);

        if ('@SessionVariables.LocationID' != '00000000-0000-0000-0000-000000000000') {
            $("#ddlLocation").val('@SessionVariables.LocationID');
        }
        if ('@SessionVariables.CompanyID' != '00000000-0000-0000-0000-000000000000') {
            $("#ddlCompany").val('@SessionVariables.CompanyID');
        }
        if ('@SessionVariables.DepartmentID' != '0') {
            $("#ddlDepartment").val('@SessionVariables.DepartmentID');
        }
        
        if ('@SessionVariables.DateString' != '') {
            $("#TransactionDate").val('@SessionVariables.DateString');
        }

        GetDataForUpdate();
        if ('@TempData["SuccessMessage"]' != "") {
            $("#SuccessMsg").css('display', 'block');
        }
        else {
            $("#SuccessMsg").css('display', 'none');
        }
        if ('@TempData["AlreadyExistingData"]' != "") {
            $("#ErrorMsg").css('display', 'block');
        }
        else {
            $("#ErrorMsg").css('display', 'none');
        }

        $("#ddlCompany").change(function () {
            var CompanyId = $(this).val();
            BindLocation(CompanyId);
        });

        function BindLocation(CompanyId) {
            if (CompanyId == "" || CompanyId == null) {
                CompanyId = 0;
            }
            $("#ddlLocation").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationById", "CostIssue")',
                dataType: 'json',
                data: { CompanyId: CompanyId },
                success: function (data) {
                    $.each(data, function (i, l) {
                        
                        $("#ddlLocation").append('<option value="' + l.Value + '">' + l.Text + '</option>');
                    });
                },
                error: function (data) { alert(data.d); }
            });
        }

        $("#TransactionDate").change(function () {
            GetDataForUpdate();
        });

        $("#ddlLocation").change(function () {
            GetDataForUpdate();
        });

        $("#ddlDepartment").change(function () {
            GetDataForUpdate();
        });

        function GetDataForUpdate() {
            
            var TransactionDate = $("#TransactionDate").val();
            var LocationID = $("#ddlLocation").val();
            var DepartmentID = $("#ddlDepartment").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDataByDate", "CostIssue")',
                dataType: 'json',
                data: { TransactionDate: TransactionDate, LocationID: LocationID, DepartmentID: DepartmentID },
                success: function (data) {
                    $("#Sale").val("");
                    $("#Issue").val("");
                    $("#TransactionID").val("");
                    
                    $.each(data, function (i, l) {

                        $("#Sale").val(l.Sale.toString());
                        $("#Issue").val(l.Issue.toString());
                        $("#TransactionID").val(l.TransactionID.toString());
                    });
                },
                error: function (data) { alert(data.d); }
            });
        }
    });
</script>

<div class="page-header">
    <h1>Entry<small>
        Cost-Issue
    </small></h1>

</div>
@if (TempData["SuccessMessage"] != "")
{
    <div class="alert alert-success" id="SuccessMsg" style="display: none;">
        <h4>Success!</h4>
        @TempData["SuccessMessage"]
    </div>            
}

@if (TempData["AlreadyExistingData"] != "")
{
    <div class="alert alert-error" id="ErrorMsg" style="display: none;">
        <h4>Error!</h4>
        @TempData["AlreadyExistingData"]
    </div>            
}
<div class="row-fluid">

    <div class="span12">
        <div class="head clearfix">
            <div class="isw-documents"></div>
            @if (Model != null)
            {
                <h1>Edit Entry</h1>
            }
            else
            {
                <h1>New Entry</h1>
            }
        </div>
        @using (Html.BeginForm("CostIssueAdd", "CostIssue", FormMethod.Post))
        {
            
            @Html.HiddenFor(x => x.TransactionID)
            <div class="block-fluid">
                <div class="row-form clearfix">
                    <div class="span3">Company</div>
                    <div class="span3">
                        <select id="ddlCompany" name="CompanyID">
                            @foreach (var i in Company)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                     <div class="span3" style="text-align: right;">Location</div>
                    <div class="span3">
                        <select id="ddlLocation" name="LocationID">
                            @foreach (var i in Location)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row-form clearfix">
                    <div class="span3" >Date</div>
                    <div class="span3">
                            @Html.EditorFor(x => x.TransactionDate)                        
                    </div>
                    <div class="span3" style="text-align: right;">Department </div>
                    <div class="span3">
                        <select id="ddlDepartment" name="DepartmentID">
                            @foreach (var i in Department)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                    
                </div>
                
                <div class="row-form clearfix">
                    <div class="span3">Issue</div>
                    <div class="span3">
                        @Html.EditorFor(x => x.Issue)
                    </div>

                    <div class="span3" style="text-align: right;">Sale </div>
                    <div class="span3">
                        @Html.EditorFor(x => x.Sale)
                    </div>

                </div>

                <div class="row-form clearfix">
                    <input class="btn btn-success" type="submit" value="Save" />
                    @if (Model == null)
                    {
                        <input type="reset" value="Clear" class="btn btn-primary" />
                    }
                </div>
            </div>
        }
    </div>
</div>

