﻿@{
    ViewBag.Title = "MonthEnd";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Month = new SelectList(new[]
    {
        new {Value = "1", Text="January"},
            new {Value = "2", Text="February"},
            new {Value = "3", Text="March"},
            new {Value = "4", Text="April"},
            new {Value = "5", Text="May"},
            new {Value = "6", Text="June"},
            new {Value = "7", Text="July"},
            new {Value = "8", Text="August"},
            new {Value = "9", Text="September"},
            new {Value = "10", Text="October"},
            new {Value = "11", Text="November"},
            new {Value = "12", Text="December"}
    },
    "Value", "Text", 1);

    List<SelectListItem> Company = ViewData["Company"] as List<SelectListItem>;
    List<SelectListItem> Location = ViewData["Location"] as List<SelectListItem>;
}
<style>
    .Err {
        color:red;
       
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        GetDataforUpdate();
        $("#Month").change(function () {
            GetDataforUpdate();
        });
        $("#ddlYear").change(function () {
            GetDataforUpdate();
        });
        $("#ddlLocation").change(function () {
            GetDataforUpdate();
        });
        function GetDataforUpdate() {
            var Month = $("#Month option:selected").val();
            var Year = $("#ddlYear option:selected").val();
            var LocationID = $("#ddlLocation option:selected").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthEndedDetails", "CostIssue")',
                dataType: 'json',
                data: { Month: Month, Year: Year, LocationID: LocationID },
                success: function (data) {
                    
                    if (data != "0") {
                        $("#AlreadyEnd").css("display", "block");
                        $("#btnEnd").prop('disabled','true')
                    }
                    else {
                        $("#btnEnd").removeAttr('disabled');
                        $("#AlreadyEnd").css("display", "none");
                    }

                },
                error: function (data) { alert(data.d); }
            });
        }
        $("#ddlCompany").change(function () {
            var CompanyId = $(this).val();
            BindLocation(CompanyId);
        });

        function BindLocation(CompanyId) {
            if (CompanyId == "" || CompanyId == null) {
                CompanyId = 0;
            }
            $("#ddlLocation").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationById", "CostIssue")',
                dataType: 'json',
                data: { CompanyId: CompanyId },
                success: function (data) {
                    $.each(data, function (i, l) {
                        $("#ddlLocation").append('<option value="' + l.Value + '">' + l.Text + '</option>');
                    });
                },
                error: function (data) { alert(data.d); }
            });
        }
    });
</script>

<div class="page-header">
    <h1>Month End<small>
    </small></h1>
</div>
<div id="AlreadyEnd" class="Err" style="display:none;">                
                    <h4>Error!</h4>You have already ended this month.. 
                </div>
<div class="row-fluid">

    <div class="span12">
        <div class="head clearfix">
            <div class="isw-documents"></div>
            <h1>Month End Transaction</h1>
        </div>
        <div class="block-fluid">
            
            @using (Html.BeginForm("MonthEndTransaction", "CostIssue", FormMethod.Post))
            {
                <div class="row-form clearfix">
                    <div class="span2">Company</div>
                    <div class="span3">
                        <select id="ddlCompany" name="CompanyID">
                            @foreach (var i in Company)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                
                    <div class="span2">Location</div>
                    <div class="span3">
                        <select id="ddlLocation" name="LocationID">
                            @foreach (var i in Location)
                            {
                                <option value='@i.Value'>@i.Text</option>
                            }
                        </select>
                    </div>
                    </div>
                <div class="row-form clearfix">
                    <div class="span2">Month</div>
                    <div class="span3">

                        @Html.DropDownList("Month", Month)
                    </div>

                    <div class="span2">Year</div>
                    <div class="span3">
                        <select id="ddlYear" name="Year">
                            @for (int i = 2018; i <= 2020; i++)
                            {
                                <option value='@i'>@i</option>
                            }
                        </select>
                    </div>
                    <div class="span2">
                        <input class="btn btn-success" id="btnEnd" type="submit" value="End Month" disabled />
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
