﻿body {
}

.AddBtn {
    float: right;
    margin-top: -29px;
    margin-right: 51px;
}
/*.PhoneChip {
    display:inline-block;
}*/
table.dataTable tbody td {
    padding: 4px 10px !important;
}


.PhoneChip, .EmailChip {
    display: inline-block;
    padding-right: 9px;
    padding-left: 9px;
    background: -webkit-gradient(linear, center bottom, center bottom, color-stop(0%,#EEE), color-stop(50%,#FFF));
    border: 1px solid #AAAAAA;
    border-radius: 1em;
}



.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
    margin: -6px 0;
}

.ui-datepicker-trigger {
    padding-left: 1%;
    height: 50%;
    margin-bottom: 0%;
}

.ReportGrid {
    /*overflow: scroll;*/
    /*padding-left:1.5%;*/
    padding-top: 1%;
    /*width: 100%;*/
}

#Filters {
    line-height: 3;
}

    #Filters .ui-datepicker-trigger {
        padding-left: 1%;
        height: 50%;
        margin-bottom: 5%;
    }

.hasDatepicker {
    width: 220px;
    height: 28px !important;
}

/*MyPopUp*/

.ErrorMsg {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding-left: 7%;
}

.Err {
    display: block;
}
