﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="~/Template/HTML/favicon.ico" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="~/Template/HTML/css/stylesheets.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='~/Template/HTML/css/fullcalendar.print.css' media='print' />
    <link href="~/Scripts/jquery-ui-1.11.4/jquery-ui.theme.min.css" rel="stylesheet" />

    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>*@

    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="~/Scripts/jquery-1.7.min.js"></script>
    @*<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'></script>*@
    @*<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>*@
    <script src="~/Scripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/jquery/jquery.mousewheel.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/cookie/jquery.cookies.2.2.0.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/bootstrap.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/charts/jquery.flot.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins/charts/jquery.flot.stack.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins/charts/jquery.flot.pie.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins/charts/jquery.flot.resize.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/sparklines/jquery.sparkline.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/fullcalendar/fullcalendar.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/select2/select2.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/uniform/uniform.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/validation/languages/jquery.validationEngine-en.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins/validation/jquery.validationEngine.js' charset='utf-8'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins/animatedprogressbar/animated_progressbar.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/cleditor/jquery.cleditor.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/dataTables/jquery.dataTables.min.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/plugins/fancybox/jquery.fancybox.pack.js'></script>

    <script type='text/javascript' src='~/Template/HTML/js/cookies.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/actions.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/charts.js'></script>
    <script type='text/javascript' src='~/Template/HTML/js/plugins.js'></script>
</head>
<body>
    <div class="header">
        <a class="logo" href='@Url.Action("Dashboard", "Dashboard")'>
            <img src="" alt="CostManagement" title="CostManagement" style="display: none;" /></a>
        <ul class="header_menu">
            <li class="list_icon"><a href="#">&nbsp;</a></li>
        </ul>
    </div>

    <div class="menu">

        <div class="breadLine">
            <div class="arrow"></div>
            <div class="adminControl active">
                Hi, @Session["UserName"]

            </div>
        </div>

        <ul class="navigation">

            <li>
                <a href='@Url.Action("Dashboard", "Dashboard")'>
                    <span class="isw-grid"></span><span class="text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href='@Url.Action("CostIssue", "CostIssue")'>
                    <span class="isw-archive"></span><span class="text">Cost Issue Entry</span></a>
            </li>
            <li>
                <a href='@Url.Action("AddCostSummary", "CostIssue")'>
                    <span class="isw-archive"></span><span class="text">Cost Summary Entry</span></a>
            </li>


            @*<li>
                <a href='@Url.Action("CostIssueListReport1", "CostIssue")'>
                    <span class="isw-text_document"></span><span class="text">Cost Issue Report</span></a>
            </li>*@
            <li>
                <a href='@Url.Action("MonthEnd", "CostIssue")'>
                    <span class="isw-lock"></span><span class="text">MonthEnd</span></a>
            </li>
            <li class="openable">
                <a href="#">
                    <span class="isw-list"></span>
                    <span class="text">Reports</span>
                </a>
                <ul>
                    <li>
                        <a href='@Url.Action("CostIssueListReport1", "CostIssue")'>
                            <span class="ic_grid"></span>
                            <span class="text">Cost Issue Report</span></a>
                    </li>
                    <li>
                    <a href='@Url.Action("CostIssueDetailedReport", "CostIssue")'>
                        <span class="ic_grid"></span>
                        <span class="text">Cost Issue Detailed Report</span></a>
                </li>
                </ul>
            </li>

        </ul>

    </div>

    <div class="content">


        <div class="breadLine">

            <ul class="breadcrumb">
            </ul>

            <ul class="buttons">

                <li>
                    <span class="icon-share-alt"></span><a href='@Url.Action("Logout", "Login")'>Logout</a>
                </li>
            </ul>

        </div>

        <div class="workplace">

            @RenderBody()

        </div>
    </div>

</body>
</html>
